for_window [class="^.*"] border pixel 0
for_window [class="^launcher$"] {
    floating enable
    sticky enable
    resize set 30 ppt 60 ppt
    border pixel 3 
}

for_window [app_id="qalculate-gtk"] floating enable

for_window [title="Firefox — Sharing Indicator"] kill
for_window [con_mark="α"] opacity set $trans
for_window [class="^.*"] inhibit_idle fullscreen

#for_window [class="Shenomaly"] floating enable

output HDMI-A-1 {
    mode 2560x1440@144Hz
    scale 1.2
    pos 0 120
}
workspace 1 output HDMI-A-1
workspace 2 output HDMI-A-1
workspace 3 output eDP-1
workspace 4 output eDP-1
