# Ignore everything
*

# Configs
!.gitignore
!foot/
!foot/**
!hyprvoice/
!hyprvoice/**
!lazygit/
!lazygit/**
!lf/
!mako/
!mpv/
!sway/
!waybar/
!wlogout/
!yay/
!yay/**
!zsh/

# Scripts and services
!scripts/
!scripts/**
!systemd/
!systemd/user/
!systemd/user/mute-led-sync.service
!systemd/user/thinkpad-profile-watch.service
systemd/user/*/

# Docs
!README/
!README.md
!tweaks.md
