Code/
dconf/
Electron/
Google/
JetBrains/
QtProject.conf
Slack/
Unknown Organization/
WebCord/
Webcamoid/
Windscribe/
autostart/
bashtop/
calcurse/
cef_user_data/
clangd/
coc/
discord/
gh/
go/
google-chrome/
gtk-2.0/
htop/
lazygit/
libreoffice/
neofetch/
notion-app/
obsidian/
pavucontrol.ini
pulse/
qBittorrent/
qalculate/
spotify/
sqlitebrowser/
tlpui/
user-dirs.dirs
yuzu/
zathura/
zoom.conf
zoomus.conf
configstore
dconf
godot
dconf
