* {
  font-size: 11px;
  font-family: Iosevka;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.8);
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#custom-audio,
#network,
#memory,
#cpu,
#battery,
#backlight,
#tray {
  background: #1a1a1a;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}
#workspaces button.focused {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}

#custom-audio {
  color: #268bd2;
}
#network {
  color: #608033;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
#backlight {
  color: #ffffff;
}

#clock,
#custom-audio,
#network,
#memory,
#cpu,
#battery,
#backlight {
  padding: 0 10px;
}
